@import url(/style.css);
@import url(/apps/apps.css);

/*--------------------- Barra de Navegacion ---------------------*/
nav{
    width: 100%;
    height: 7vh;
}

#logo{
    width: 150px;
}

.container1{
    background-image: url(../images/XiP3qS0.jpg);
    padding: 10px 0px;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-around;
    width:100%;
    font-size: 25px;
}

.container1 ul{
    display: flex;
}

.alink, 
.carrito{
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    text-decoration: none;
    color: rgb(255, 255, 255);
    border-radius: 10px;
}

.alink{
    margin: 5px 15px;
}

.carrito{
    padding: 0px 10px;
}

.alink:hover,
.carrito:hover{
    background-color:rgb(90, 94, 224);
    cursor: pointer;
}

.carrito button{
    background-color:transparent;
    border: none;
    cursor: pointer;
}
/* ------------------------------------------------------------ */

/*----------- Ventana Modal Carrito de Compras -----------*/
#miVentanaModal{
    display: none;
    position: fixed;
    z-index: 1;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 80%;
    height: 80%;
    background-color: rgba(0,0,0,0.4);
}

#miVentanaModal .salir{
    position: absolute;
    cursor: pointer;
    width: 30px;
    height: 30px;
    border-radius: 2px;
    right: 10px;
    top: 10px;
    border: none;
}
/* ------------------------------------------------------ */


.contenedor-productos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-height: 93vh;
}

.contenedor-productos h1{
    text-align: center;
    margin-top: 0px;
}

.contenedor-productos a{
    cursor: default;
    text-align: center;
    text-decoration: none;
}

/* estilo del titulo imagenes y catalogo */
.products{
    padding-top: 80px;
    display: flex;
    justify-content: space-evenly;
}
.carts{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}
.carts img{
    width: 200px;
    height: 160px;
    border-radius: 5px;
}
.carts p{
    font-family: system-ui;
    font-weight: 500;
    padding: 0 20px;
    margin-bottom: 24px;
}
.carts div p{
    position: absolute;
    top: 0;
    right: 0px;
    background-color: rgb(0, 235, 129);
    color: #fff;
    padding: 2px 7px 4px 21px;
    clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 25% 100%, 0% 50%);
}
.carts div{
    position: relative;
}
.carts a{

    font-family: system-ui;
    text-decoration: none;
    background: rgb(112, 94, 218);
    padding: 9px 23px;
    color: #fff;
    font-size: 17px;
    text-transform: uppercase;
    font-weight: 700;
    border-radius: 5px;
}

.carts a:hover{
    background: #fff;
    color: rgb(112, 94, 218);
    border: solid 2px rgb(112, 94, 218);
    transition-duration: .3s;
}

@media (min-height: 796px) {
    .contenedor-productos h1{
        text-align: center;
        margin-top: -320px;
    }
}